{% extends 'admin/base.html.twig' %}

{% block body %}
<h2 style="display: inline-block">Nouvelle formation</h2>

    <a href="{{ path('admin.index') }}" type="button" class="btn btn-info" style="float:right;">Retour
    </a>

    {% include 'admin/degree/_form.html.twig' %}

{% endblock %}